<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlines.mapper.PlanResultTestMapper">
  <resultMap id="BaseResultMap" type="com.onlines.pojo.PlanResultTest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="passed_num" jdbcType="INTEGER" property="passedNum" />
    <result column="failed_num" jdbcType="INTEGER" property="failedNum" />
    <result column="skiped_num" jdbcType="INTEGER" property="skipedNum" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, total_num, passed_num, failed_num, skiped_num, begin_time, duration, create_time
  </sql>
  <select id="selectByExample" parameterType="com.onlines.pojo.PlanResultTestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plan_result_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan_result_test
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from plan_result_test
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.onlines.pojo.PlanResultTestExample">
    delete from plan_result_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.onlines.pojo.PlanResultTest">
    insert into plan_result_test (id, total_num, passed_num, 
      failed_num, skiped_num, begin_time, 
      duration, create_time)
    values (#{id,jdbcType=BIGINT}, #{totalNum,jdbcType=INTEGER}, #{passedNum,jdbcType=INTEGER}, 
      #{failedNum,jdbcType=INTEGER}, #{skipedNum,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.onlines.pojo.PlanResultTest">
    insert into plan_result_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="passedNum != null">
        passed_num,
      </if>
      <if test="failedNum != null">
        failed_num,
      </if>
      <if test="skipedNum != null">
        skiped_num,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="passedNum != null">
        #{passedNum,jdbcType=INTEGER},
      </if>
      <if test="failedNum != null">
        #{failedNum,jdbcType=INTEGER},
      </if>
      <if test="skipedNum != null">
        #{skipedNum,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.onlines.pojo.PlanResultTestExample" resultType="java.lang.Long">
    select count(*) from plan_result_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update plan_result_test
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.totalNum != null">
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.passedNum != null">
        passed_num = #{record.passedNum,jdbcType=INTEGER},
      </if>
      <if test="record.failedNum != null">
        failed_num = #{record.failedNum,jdbcType=INTEGER},
      </if>
      <if test="record.skipedNum != null">
        skiped_num = #{record.skipedNum,jdbcType=INTEGER},
      </if>
      <if test="record.beginTime != null">
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update plan_result_test
    set id = #{record.id,jdbcType=BIGINT},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      passed_num = #{record.passedNum,jdbcType=INTEGER},
      failed_num = #{record.failedNum,jdbcType=INTEGER},
      skiped_num = #{record.skipedNum,jdbcType=INTEGER},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      duration = #{record.duration,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlines.pojo.PlanResultTest">
    update plan_result_test
    <set>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="passedNum != null">
        passed_num = #{passedNum,jdbcType=INTEGER},
      </if>
      <if test="failedNum != null">
        failed_num = #{failedNum,jdbcType=INTEGER},
      </if>
      <if test="skipedNum != null">
        skiped_num = #{skipedNum,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlines.pojo.PlanResultTest">
    update plan_result_test
    set total_num = #{totalNum,jdbcType=INTEGER},
      passed_num = #{passedNum,jdbcType=INTEGER},
      failed_num = #{failedNum,jdbcType=INTEGER},
      skiped_num = #{skipedNum,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getTestPlanList"  resultMap="BaseResultMap">
    select *
    FROM plan_result_test
    where 1=1
    <if test="beginDate != null and endDate != null">
      AND DATE_FORMAT(begin_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d')
      AND DATE_FORMAT(begin_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
    </if>
    order by begin_time desc
  </select>
</mapper>