<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name='线上监控自动化测试' data-provider-thread-count="1">
	<test verbose="2" preserve-order="true" name="H5巡检" enabled="true">
		<classes>
			<class name="com.onlines.onlineSaleTest.AutoCheckHtml"></class>
		</classes>
	</test>
	<listeners>
		<listener class-name="com.onlines.listeners.TestListener"></listener>
	</listeners>
</suite>